<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SssIndex.SssIndexSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="SssIndex.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SssIndex.SssIndexSettings>
            <setting name="Resolvers" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>QQn.SourceServerSharp.Providers.SubversionResolver, QQn.SourceServerSharp</string>
                        <string>QQn.SourceServerSharp.Providers.TeamFoundationResolver, QQn.SourceServerSharp</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SourceServerSdkDir" serializeAs="String">
                <value>%programfiles%\Debugging Tools for Windows\sdk\srcsrv</value>
            </setting>
            <setting name="UseResolvers" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>autodetect</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="AppendToPath" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>%programfiles%\Subversion\bin</string>
                    </ArrayOfString>
                </value>
            </setting>
        </SssIndex.SssIndexSettings>        
    </applicationSettings>
</configuration>